<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>

</body>
</html>
